.pet-card {
  display: flex;
  margin: 12px;
  padding: 22px;
  border-radius: 8px;
  box-shadow: 0 1px 6px #ccc;
  max-width: 400px;
  align-items: center;
  justify-content: space-around;
  font-family: Nunito;
}
.avatar {
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 60px;
  margin-right: 2rem;
}

.avatar > img {
  object-fit: cover;
  width: inherit;
  height: inherit;
}

.details {
}

.details .info {
  display: none;
}

.details .actions button {
  border: none;
  padding: 8px 22px;
  background-color: brown;
  border-radius: 6px;
  color: white;
}

.details .actions button:first-of-type {
  margin-right: 12px;
}
